<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit your Listings</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input class="form-control" type="text" name="listing[title]" value="<%= listing.title %>" required>
            <div class="valid-feedback">
                Title looks good.
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please enter a short description.
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Image</label>
            <input class="form-control" type="url" name="listing[image]"  value="<%= listing.image %>" required>
            <div class="invalid-feedback">
                Please enter a valid url.
            </div>
        </div>
        <div class="row">
        <div class="mb-3 col-md-8">
            <label for="price" class="form-lable">Price</label>
            <input type="number"  class="form-control" name="listing[price]" value="<%= listing.price %>" required>
            <div class="invalid-feedback">
                Please enter a valid Price.
            </div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="" class="form-lable">Country</label>
            <input class="form-control" type="text" name="listing[country]" value="<%= listing.country %>" required>
            <div class="invalid-feedback">
                Please enter a valid Country.
            </div>
        </div>
        </div>

        <div class="mb-3">
            <label for="" class="form-lable">location</label>
            <input class="form-control" type="text" name="listing[location]" value="<%= listing.location %>" required>
            <div class="invalid-feedback">
                Please enter a valid Location.
            </div>
        </div>
        <button class="btn btn-dark edit-btn ">Edit</button>
        <br><br>
    </form>
    </div>
    </div>
    <script src="/js/script"></script>
</body>
</html>